header{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.create_form {
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#create_button {
    width: 100px;
    margin-top: 10px;
}

.main_content{
    margin-top: 20px;
    display: flex;
}

.left_bar{
    display: inline-block;
    width: 50%;
}
.right_bar {
    display: inline-flex;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
}
.book{
    height: 200px; 
    width: 200px; 
    margin: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#sort_button {
    margin-left: 15px;
}